---
import MainLayout from '../layouts/MainLayout.astro';
import Headline from '../components/Headline.astro';
---
<MainLayout>
  <Headline content="Savepad" />
  <h1>Savepad -- <a>https://savepad.app</a></h1>
</MainLayout>
