
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savepad</title>
    <link rel="stylesheet" href="/styles/global.css">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  </head>
  <body class="bg-gray-800 text-white font-geist">
    <slot />
  </body>
</html>
